{% extends "_common.njk" %}
{% block content %}
<h1>Light Bulb</h1>
<form class="form-inline">
  <div class="form-check mr-2">
    <input class="form-check-input" type="checkbox" value="" id="light" onClick="setLight()">
    <label class="form-check-label" for="light">
      Light on
    </label>
  </div>

  <div class="form-check mr-2">
    <input name="color" class="form-check-input" type="radio" value="" id="red" onclick="setColor('rgb(204, 51, 0)');">
    <label class="form-check-label" for="red">
      Red
    </label>
  </div>
  <div class="form-check mr-2">
    <input name="color" class="form-check-input" type="radio" value="" id="green" onclick="setColor('rgb(0, 255, 0)');">
    <label class="form-check-label" for="green">
      Green
    </label>
  </div>
  <div class="form-check mr-2">
    <input name="color" class="form-check-input" type="radio" value="" id="blue" onclick="setColor('rgb(0, 0, 255)');">
    <label class="form-check-label" for="blue">
      Blue
    </label>
  </div>
  <div class="form-check mr-2">
    <input name="color" class="form-check-input" type="radio" value="" id="yellow" checked onclick="setColor('rgb(255, 255, 0)');">
    <label class="form-check-label" for="yellow">
       Yellow
    </label>
  </div>
  <input class="form-control mr-2" type="range" min="0" max="100" value="100" step="1" onchange="setAlpha(this.value)" />
</form>
<div class="text-center">
  <canvas class="mt-3 mb-3" id='canvas' width='400' height='400'>
    No canvas in your browser...sorry...
  </canvas>
</div>
<script>
  var lightBulb;

  function init()
  {
    // Initialzing
    lightBulb = new steelseries.LightBulb('canvas',
    {
      width: 200,
      height: 200
    });

  }

  function setLight()
  {
    lightBulb.setOn(document.getElementById('light').checked);
  }

  function setAlpha(value)
  {
    lightBulb.setAlpha(value / 100);
  }

  function setColor(color)
  {
    lightBulb.setGlowColor(color);
  }
  init();
</script>
{% endblock %}