{% extends "_common.njk" %}

{% block content %}
<h1>Traffic Light</h1>

<form class="form-inline">
  <div class="form-check mr-2">
    <input id="red" class="form-check-input" type="checkbox" value="" onClick="setLights()">
    <label class="form-check-label" for="red">
      Red
    </label>
  </div>
  <div class="form-check mr-2">
    <input id="yellow" class="form-check-input" type="checkbox" value="" onClick="setLights()">
    <label class="form-check-label" for="yellow">
      Yellow
    </label>
  </div>
  <div class="form-check mr-2">
    <input id="green" class="form-check-input" type="checkbox" value="" onClick="setLights()">
    <label class="form-check-label" for="green">
      Green
    </label>
  </div>
</form>

<div class="text-center">
  <canvas class="mt-3 mb-3" id='canvas' width='400' height='400'>
    No canvas in your browser...sorry...
  </canvas>
</div>

<script>
  var trafficLight;

  function init()
  {
    // Initialzing
    trafficLight = steelseries.TrafficLight('canvas',
    {
      width: 200,
      height: 200
    });
  }

  function setLights()
  {
    trafficLight.setRedOn(document.getElementById('red').checked);
    trafficLight.setYellowOn(document.getElementById('yellow').checked);
    trafficLight.setGreenOn(document.getElementById('green').checked);
  }
  init();
</script>
{% endblock %}