{% extends "_common.njk" %}

{% block content %}

<p>
  This is a demonstration of the <a href="https://github.com/nicolas-van/steelseries">Steelseries components library</a>,
  a collection of gauge components for JavaScript.
</p>

{% include "demoNavigation.njk" %}
{% include "demoRadial.njk" %}
{% include "demoLinear.njk" %}
{% include "demoStopWatch.njk" %}
{% include "demoLcdSections.njk" %}
{% include "demoLightBulb.njk" %}
{% include "demoTrafficLight.njk" %}

{% endblock %}
