{% extends "_common.njk" %}

{% block content %}
<h1>Traffic Light</h1>

<form class="form-inline">
  <div class="form-check mr-2 mb-2">
    <input id="traffic-red" class="form-check-input" type="checkbox" value="">
    <label class="form-check-label" for="traffic-red">
      Red
    </label>
  </div>
  <div class="form-check mr-2 mb-2">
    <input id="traffic-yellow" class="form-check-input" type="checkbox" value="">
    <label class="form-check-label" for="traffic-yellow">
      Yellow
    </label>
  </div>
  <div class="form-check mr-2 mb-2">
    <input id="traffic-green" class="form-check-input" type="checkbox" value="">
    <label class="form-check-label" for="traffic-green">
      Green
    </label>
  </div>
</form>

<div class="text-center">
  <canvas class="mt-3 mb-3" id='canvasTrafficLight' width='400' height='400'>
    No canvas in your browser...sorry...
  </canvas>
</div>

<script>
  (function() {
  "use strict";

  document.querySelector('#traffic-red').addEventListener('click', setLights);
  document.querySelector('#traffic-yellow').addEventListener('click', setLights);
  document.querySelector('#traffic-green').addEventListener('click', setLights);

  var trafficLight;

  function init()
  {
    // Initialzing
    trafficLight = steelseries.TrafficLight('canvasTrafficLight',
    {
      width: 200,
      height: 200
    });
  }

  function setLights()
  {
    trafficLight.setRedOn(document.getElementById('traffic-red').checked);
    trafficLight.setYellowOn(document.getElementById('traffic-yellow').checked);
    trafficLight.setGreenOn(document.getElementById('traffic-green').checked);
  }
  init();
  })();
</script>
{% endblock %}
